[data-menu="button"] {
  display: none;
}
#menu li a:hover {
  border-bottom: 3px solid var(--verde-4);
}

@media (max-width: 1100px) {
  .js [data-menu="button"] {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    position: relative;
    z-index: 300;
  }
  .js [data-menu="button"].active {
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  #menu {
    display: none;
    margin-left: 0px;
    position: absolute;
    background: var(--base-1);
    z-index: 200;
    top: 0;
    right: 0;
    padding: 140px 47px 50px 100%;
    text-align: right;
    border-bottom: 2px solid var(--verde-4);
  }

  #menu.active {
    display: block;
  }
  #menu.active li:last-child {
    display: block;
  }
  .nav-links .botao {
    display: none;
  }
}
