.tratamentos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  margin-bottom: 80px;
}
.tratamentos img {
  margin-bottom: 24px;
}
.caixa-tratamento {
  text-align: center;
  padding-bottom: 40px;
}
.caixa-tratamento:last-child {
  padding-bottom: 0px;
}
.caixa-tratamento h4 {
  padding-bottom: 20px;
}

@media (max-width: 820px) {
  .tratamentos {
    grid-template-columns: 1fr;
    gap: 0px;
    margin-bottom: 60px;
  }
  .caixa-tratamento {
    display: grid;
    justify-items: center;
  }
}
